<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
	<connectionStrings>
		<add name="zaolis" connectionString="data source=ZaolisProject.mssql.somee.com;initial catalog=ZaolisProject;User Id=zaolis_SQLLogin_1;Password=vt78mdjfzb;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
 <system.serviceModel>
  <bindings>
   <wsDualHttpBinding>
    <binding name="WSDualHttpBinding_IZaolisService" />
    <binding name="WSDualHttpBinding_IZaolisService1" />
   </wsDualHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://localhost:8301/ZaolisService.svc" binding="wsDualHttpBinding"
    bindingConfiguration="WSDualHttpBinding_IZaolisService" contract="ServiceReference1.IZaolisService"
    name="WSDualHttpBinding_IZaolisService">
    <identity>
     <userPrincipalName value="VITALIKOLEKS\VitalikOlekS" />
    </identity>
   </endpoint>
   <endpoint address="http://localhost:8301/ZaolisService.svc" binding="wsDualHttpBinding"
    bindingConfiguration="WSDualHttpBinding_IZaolisService1" contract="ZaolisServiceClient.IZaolisService"
    name="WSDualHttpBinding_IZaolisService1">
    <identity>
     <userPrincipalName value="VITALIKOLEKS\VitalikOlekS" />
    </identity>
   </endpoint>
  </client>
 </system.serviceModel>
</configuration>